@import url('./animations.css');

/* -----------------------
    - STYLES CSS
------------------------ */

/* 
    * COPYRIGHT ADANDE SYLVAIN
*/

/* 
    * CUSTOM CSS
*/
:root {

    /* 
        * COULEURS PRINCIPALES
    */

    --first-color: #F6F6C9;
    --second-color: #FF6464;
    --third-color: #B3FFAE;


    /* 
        * COULEURS AUXILIARES
    */

    --smokey-black: hsl(0, 0%, 7%);
    --eerie-black: hsl(0, 0%, 9%);
    --radical-red: hsl(346, 100%, 58%);
    --white_a9: hsla(0, 0%, 100%, 0.09);
    --white_a15: hsla(0, 0%, 100%, 0.15);
    --white_a25: hsla(0, 0%, 100%, 0.25);
    --white_a50: hsla(0, 0%, 100%, 0.5);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --jet-1: hsl(0, 0%, 20%);
    --jet-2: hsl(0, 0%, 16%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);



    /* 
        * GRADIENT
    */

    --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
    --gradient-3: linear-gradient(0deg, transparent, var(--smokey-black));
    --gradient-2: linear-gradient(180deg, var(--smokey-black) 25%, hsla(0, 0%, 0%, 0.6) 80%);

    /* 
        * TYPOGRAPIE
    */

    --ff-recoleta: "Recoleta", serif;
    --ff-gordita: "Gordita", sans-serif;

    /* 
        * SIZES
    */

    --fs-1: 6rem;
    --fs-2: 5rem;
    --fs-3: 4rem;
    --fs-4: 3rem;
    --fs-5: 2rem;
    --fs-7: 2rem;
    --fs-8: 1rem;

    /* 
        * WEIGHT
    */

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;

    /* 
        * SHADOW 
    */
    --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);


    /* 
        * SPACING
    */

    --section-padding: 60px;
    --width: 1;
    --height: 1;

    /* 
        * BORDER RADIUS
    */

    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-25: 25px;

    /* 
        * TRANSITIONS
    */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/* 
    * RESTE CSS
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img span,
button,
ion-icon {
    display: block;
}

a {
    text-decoration: none;
}

img {
    height: auto;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

html {
    font-family: var(--ff-gordita);
    font-size: 10px;
    scroll-behavior: smooth;
    cursor: none;
}


body {
    background: var(--smokey-black);
    color: var(--white);
    font-size: 1rem;
    font-weight: var(--fw-400);
    line-height: 2.15;
    overflow-x: hidden;
    height: 100vh;
}

body.active{
    animation: show 1s ease-in;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--jet-2);
}


/* ------------------------
    - LOADING CSS
-------------------------- */

.loading {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    z-index: 5;
    transform-origin: bottom;
    transition: 1.5s var(--cubic-in);
    transition-delay: .5s;
    position: relative;
    display: block;
}

.loading.loaded {
    /* transform: scaleY(0); */
    pointer-events: none;
}


.loading>* {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: var(--transition-3);
}

.loading .img {
    left: 180px;
    border-radius: var(--radius-circle);
}

.loading.loaded>* {
    opacity: 1;
}

.loading .circle {
    left: 180px;
    animation: rotate360 1.5s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

/*-------------------
    - REUSED CSS
------------------ */
.container {
    padding-inline: 15px;
}

.flexitem {
    display: flex;
}
.hide{
    display: none;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.align-item-start {
    align-items: flex-start;
}

.shape {
    display: none;
}


H1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-family: var(--ff-recoleta);
}

h1 {
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

h6 {
    font-size: var(--fs-6);
}

.img-holder {
    aspect-ratio: 1/1;
    /* background: var(--jet-1); */
}

.has-before {
    position: relative;
    /* z-index: 1; */
}

.has-before::before {
    content: '';
    position: absolute;
}

.img-holder.has-before::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-1);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-icon {
    background: var(--bg-color, var(--white));
    border-radius: var(--radius-circle);
    display: grid;
    place-content: center;
    transition: var(--transition-2);
}


/* -----------------------
    - SCROLL REVEAL 
------------------------- */
[data-reveal] {
    transform: translateY(50px);
    opacity: 0;
    transition: var(--transition-3);
}

[data-reveal="left"] {
    transform: translate(-50px, 0);
}

[data-reveal="right"] {
    transform: translate(50px, 0);
}

[data-reveal].revealed {
    transform: translate(0, 0);
    opacity: 1;
}


/*-------------------
    - HEADER
------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px;
    transition: var(--transition-2);
    z-index: 4;
}

.header.active {
    background: var(--eerie-black);
    box-shadow: var(--shadow);
    padding-block: 12px;
}


.header .logo img {
    border-radius: var(--radius-circle);
}

.overlay {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--eerie-black);
    height: 100vh;
    padding-inline: 25px;
    transition: var(--transition-1) var(--cubic-out);
    z-index: 2;
    overflow-y: auto;
    visibility: hidden;
    max-width: auto;
    width: 100%;
    animation: left_to_right 1s var(--cubic-in);
}

.navbar.active {
    visibility: visible;
    transition-duration: var(--transition-2);
    animation: right_to_left 0.5s var(--cubic-in);
}

.nav-close-btn {
    font-size: var(--fs-2);
    color: var(--white);
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    font-size: var(--fs-4);
    color: var(--white);
    text-transform: capitalize;
    font-weight: var(--fw-500);
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
    color: var(--radical-red);
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    background: var(--radical-red);
    width: 100%;
    padding: 8px 30px;
    margin-block: 30px;
    gap: 15px;
    color: var(--white);
    font-size: var(--fs-4);

}

.login-btn span {
    font-weight: var(--fw-500);
}


.navbar-title:before {
    position: absolute;
    width: 50px;
    height: 2px;
    content: '';
    background: var(--white);
    top: 30px;
    left: 0;
}

.navbar-title:after {
    position: absolute;
    width: 50px;
    height: 2px;
    content: '';
    background: var(--white);
    top: 30px;
    right: 0;
}

.navbar-title {
    font-size: var(--fs-4);
    font-weight: var(--fw-500);
    text-align: center;
    position: relative;
}

.navbar-text {
    font-size: var(--fs-5);
    font-weight: var(--fw-300);
    text-align: center;
}

.contact-link {
    font-size: var(--fs-4);
    color: var(--radical-red);
    font-weight: var(--fw-500);
}

.contact-link:is(:hover, :focus-visible) {
    text-decoration: underline;
}

/* ----------------------------
    - MAIN HERO
----------------------------- */

.hero {
    padding-block-start: 80px;
    text-align: center;
}

.hero .image {
    width: 200px;
    height: 200px;
    border-radius: var(--radius-circle);
    position: relative;
    border-color: var(--radical-red);
    border: 5px solid;
}

.hero h1 {
    letter-spacing: 5px;
    font-size: var(--fs-4);
}

.hero .wrapper {
    position: relative;
    margin-block: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero .wrapper .space {
    padding: 0.1em;
}


.hero .wrapper :is(.in, .out) {
    opacity: 0;
    transform: scaleY(0);
}


.hero .wrapper .out {
    opacity: 1;
    transform: scaleY(1);
    animation: textWave .2s ease reverse forwards;
}


.hero .wrapper .in {
    opacity: 1;
    transform: scaleY(1);
    animation: textWave .2s ease forwards;
}

@keyframes textWave {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

.hero .wrapper .strong {
    position: absolute;
    top: 0;
    font-weight: inherit;
    font-size: var(--fs-5);
    display: flex;
    text-align: center;
    font-weight: var(--fw-500);
}

.hero .wrapper .strong:nth-child(1) {
    /* color: var(--first-color); */
}

.hero .wrapper .strong:nth-child(2) {
    /* color: var(--second-color); */
}

.hero .wrapper .strong:nth-child(3) {
    /* color: var(--third-color); */
}

.hero .hero-text {
    font-size: var(--fs-6);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-300);
    padding-block-start: 100px;
    font-size: var(--fs-7);
}

.hero .wrapper .space {
    padding: 0.1em;
}


/*----------------------
    - PROJETS 
---------------------- */
.projet {
    padding-block: 50px;
}

.projet-list {
    display: grid;
    gap: 30px;
}

.projet-item,
.projet-card {
    position: relative;
}

.projet-card :is(.card-content, .btn-icon) {
    position: absolute;
    z-index: 1;
}

.projet-card .card-content {
    width: 100%;
    padding: 30px 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.projet-card .card-title {
    color: var(--black);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    top: 20px;
    left: calc(50% - 90px);
    position: absolute;
    text-transform: uppercase;
}

.projet-card .card-tag {
    color: var(--black);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    top: 50px;
    position: absolute;
    left: calc(50% - 90px);
}

.projet-card .btn-icon {
    top: 0;
    right: 0;
    height: 50px;
    border-radius: 0 0 0 var(--radius-25);
}

.projet-card .btn-icon img {
    transform: rotate(-45deg);
    padding: 10px;
}

.projet-card .btn-icon:is(:hover, :focus-visible) {
    border-bottom-left-radius: var(--radius-5);
}

.projet-card {}


@keyframes changeCard {

    0%,
    55%,
    100% {
        opacity: 0;
        visibility: hidden;
    }

    5%,
    50% {
        opacity: 1;
        visibility: visible;
    }
}

.projet-item .projet-card:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    animation: changeCard 3s linear infinite;
    animation-delay: 3s;
}

#about .scroll-down{
    margin-inline:inherit;
}

.scroll-down {
    display: grid;
    border: 1px solid var(--white_a15);
    border-radius: var(--radius-circle);
    margin-inline: auto;
    place-content: center;
    margin-block-start: 55px;
    margin-block-end: 25px;
    width: 60px;
    height: 60px;
    transition: var(--transition-2);
    animation: scrollDown 1.5s linear infinite alternate;
}

.scroll-down img {
    width: 22px;
}

.scroll-down:is(:hover, :focus-visible) {
    background-color: var(--second-color);
    border-color: var(--second-color);
}


@keyframes scrollDown {
    from {
        transform: translateY(-12px);
    }

    to {
        transform: translateY(12px);
    }
}



/* --------------------
    - CATEGORIE 
---------------------- */
.category {
    /* --section-padding:40px; */
    border-block: 1px solid var(--white_a9);
    padding-block: 40px;
}

.category-list {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px 10px; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}


.category-item {
    /* max-width: calc(50% - 5px); */
}

.category-card .card-title {
    font-size: var(--fs-4);
    color: var(--white);
    font-weight: var(--fw-300);
    text-transform: capitalize;
    margin-block-end: 10px;
    text-align: center;
    transform: var(--transition-2);
}

/* --------------------
    - ABOUT 
---------------------- */

.about .container {
    display: grid;
    gap: 45px;
    padding-block: 40px;
}

.about .wrapper,
.about .about-banner {
    padding-inline-start: 45px;
}

.about .section-title {
    margin-block-end: 35px;
    transform: translateX(-50px);
    font-size: var(--fs-4);
}

.about .section-title.revealed {
    margin-block-end: 35px;
    transform: translateX(0px);
}

.about .section-text {
    font-size: var(--fs-5);
    color: var(--white_a70);
    font-weight: var(--fw-300);
    line-height: 1.7;
    margin-block-end: 25px;
    transform: translateX(-50px);
}

.about .section-text.revealed {
    transform: translateX(0px);
    transition-delay: 0.6s;
}

.about .wrapper::before {
    top: 10px;
    left: 0;
    background-image: url('../images/icons/about-quote.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    transition-delay: 0.7s;
}

.about .section-text em {
    text-decoration: underline;
    color: white;
    font-weight: var(--fw-400);
}

.about-banner {
    position: relative;
}

/* ----------------
    -FOOTERT
------------------- */

.footer {
    position: relative;
}

.footer-top {
    padding-block: 40px 40px;
    border-block-start: 1px solid var(--white_a9);
    text-align: center;
    z-index: 1;
}

.footer-top .section-subtitle {
    font-size: var(--fs-3);
    color: var(--white);
    font-weight: var(--fw-500);
}

.footer-top .section-title {
    margin-block: 20px 90px;
    line-height: normal;
    font-size: var(--fs-2);
    font-weight: var(--fw-300);
}


.footer-top .btn-icon {
    width: 60px;
    height: 60px;
    margin-inline: auto;
}

.footer-top .btn-icon img {
    width: 30px;
}

.footer-top .btn-icon:is(:hover, :focus-visible) {
    background: var(--second-color);
}

.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


.footer-bg::before {
    background: var(--gradient-2);
    inset: 0;
}


.footer-bottom {
    margin-inline: auto;
}

.footer-bottom .social-links {
    display: flex;
    justify-content: center;
}

.footer-bottom .social-links li {
    margin-inline: 10px;
}

.footer-bottom .social-links li:hover i {
    color: var(--second-color);
}

.footer-bottom .social-links li i {
    font-size: var(--fs-3);
    color: var(--white);
}


/* ------------------
    - BACK TOP
------------------- */

.back-top-btn {
    position: fixed;
    bottom: 30px;
    right: -70px;
    width: 70px;
    height: 70px;
    border: 1px dashed var(--white);
    color: var(--radical-red);
    border-radius: var(--radius-circle);
    display: grid;
    place-items: center;
    transition: --transition-2;
    z-index: 3;
    font-size: var(--fs-5);
    visibility: hidden;
    box-shadow: var(--gradient-1) 10px 10px 10px inset;
}

.back-top-btn:hover {
    color: var(--white);
}

.back-top-btn.show {
    transform: translateX(-100px);
    visibility: visible;
    transition: transform 500ms ease;
}

/* ----------------------
    - CUSTOM SURSOR
----------------------- */
.cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: var(--white);
    mix-blend-mode: exclusion;
    border-radius: var(--radius-circle);
    transform: translate(-50%, -50%) scale(0.35);
    transition: transform 0.35s;
    pointer-events: none;
    z-index: 6;
}

.cursor.hovered {
    transform: translate(-50%, -50%) scale(1.2);
}

.cursor.disabled {
    transform: translate(-50%, -50%) scale(0);
}


/* ---------------------
    - MEDIA QUERY LARGER THAN 575
----------------------*/

@media (min-width: 575px) {

    /*---------------------
        - CUSTOM PROPRETY
    --------------------- */

    :root {


        /* spacing */
        --section-padding: 80px
    }

    /* -----------------
        - REUSED CSS
    ------------------- */
    /* REUSED CSS */
    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    html {
        font-family: var(--ff-gordita);
        scroll-behavior: smooth;
        cursor: none;
    }


    /* -----------------
        - HEADER
    ------------------- */

    .navbar {
        max-width: 500px;
    }

    .navbar.active {}


    /* --------------------
        - PROJETS
    --------------------- */
    .projet-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .projet-card .btn-icon {
        transform-origin: top right;
        transform: scale(0);
    }

    .projet-card:hover .img-holder.has-before::before {
        background: none;
    }

    .projet-card:is(:hover, :focus-visible) .btn-icon {
        transform: scale(1);
    }

    .projet-card :is(.card-title, .card-tag) {
        opacity: 0;
        transform: translateY(10px);
        transition: var(--transition-2);
    }

    .projet-card .card-tag {
        top: 200px;
    }

    .projet-card:is(:hover, :focus-visible) :is(.card-title, .card-tag) {
        transform: translateY(0);
        opacity: 1;
    }



    .projet-card .card-tag {
        transition-delay: 0.1s;
    }


}


/* ---------------------
    - MEDIA QUERY LARGER THAN 768
----------------------*/

@media (min-width: 769px) {

    /*---------------------
        - CUSTOM PROPRETY
    --------------------- */

    :root {


        /* spacing */
        --section-padding: 80px
    }

    /* -----------------
        - REUSED CSS
    ------------------- */
    /* REUSED CSS */
    .container {
        max-width: 720px;
        width: 100%;
        margin-inline: auto;
    }


    html {
        font-family: var(--ff-gordita);
        scroll-behavior: smooth;
        cursor: none;
    }



    /* 
        - ABOUT
    */

    .about-banner {
        max-width: 500px;
        margin-inline: auto;
    }
}

/* ---------------------
    - MEDIA QUERY LARGER THAN 992
----------------------*/

@media (min-width: 992px) {

    /*---------------------
        - CUSTOM PROPRETY
    --------------------- */

    :root {


        /* spacing */
        --section-padding: 80px
            /* 
        * SIZES
    */

            --fs-1: 7rem;
        --fs-2: 6rem;
        --fs-3: 5rem;
        --fs-4: 4rem;
        --fs-5: 3rem;
        --fs-7: 2rem;
        --fs-8: 1rem;

    }

    /* -----------------
        - REUSED CSS
    ------------------- */
    /* REUSED CSS */
    .container {
        max-width: 960px;
        width: 100%;
        margin-inline: auto;
    }

    html {
        font-family: var(--ff-gordita);
        scroll-behavior: smooth;
        cursor: none;
    }


    /* 
        - HEADER
    */
    .shape {
        display: block;
        width: 360px;
        position: absolute;
        top: 125px;
        left: -98px;
        height: 323px;
    }


    /* 
        - ABOUT
    */


    .about-banner {
        max-width: 500px;
        margin-inline: auto;
    }

    /* --------------
        -   HERO
    ---------------- */
    .hero {
        padding-block-start: 150px;
    }

    .hero .container {
        position: relative;
        z-index: 1;
    }

    .hero .container .image {
        position: absolute;
        right: 0;
        top: 10%;
        left: 70%;
        max-width: 200px;
        z-index: -1;
    }

    .hero-content h1 {
        text-align: left;
        font-size: var(--fs-1);
    }

    .hero .wrapper {
    }

    /* ----------------------
        - PROJETS
    ----------------------- */

    .projet-list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .projet-list .card-title {
        font-size: 1.5rem;
    }

    .projet-list .card-tag {
        font-size: 1.4rem;
        top: 240px;
    }


    .about .container {
        grid-template-columns: 1fr 1fr;
    }

    .about .section-text {
        font-size: 1.2rem;
    }

    .about .about-content {
        order: 1;
    }

    .back-top-btn {
        width: 100px;
        height: 100px;
    }

    .projet-item:nth-child(even) {
        margin-block-start: 100px;
    }

    .navbar {
        max-width: 100%;
    }

    .navbar-link,
    .login-btn,
    .navbar-title {
        --fs-4: 2rem;
    }

    .navbar-text {
        --fs-5: 1.5rem;
    }

    .back-top-btn {
        width: 200px;
        height: 200px;
    }


}




@media (min-width: 1200px) {


    /* -------------------
        - CUSTOM PROPRETY
    ---------------------- */
    :root {


        /* 
        * SIZES
    */

        --fs-1: 10rem;
        --fs-2: 8rem;
        --fs-3: 7rem;
        --fs-4: 6rem;
        --fs-5: 5rem;
        --fs-6: 4rem;
        --fs-7: 3rem;
        --fs-8: 2rem;

    }

    /*---------------------
        - REUSED CSS
    -----------------------*/
    .container {
        max-width: 1140px;
    }


    /*----------------------
        - HEADER
    ----------------------*/
    .shape {
        display: block;
        width: 360px;
        position: absolute;
        top: 125px;
        left: -98px;
        height: 323px;
    }

    /* 
        * ABOUT
     */

     .about .section-text{
        font-size: var(--fs-7);
     }

     .hero .container .image {
            top: 0;
        }
}